.card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
    border-left: 5px solid transparent;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    background: rgba(255, 255, 255, 0.08);
}


/* TEXT */

.title {
    margin: 0;
    color: #cbd5e1;
    font-size: 14px;
}

.value {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: white;
}


/* COLORS */

.blue {
    border-left-color: #6366f1;
}

.green {
    border-left-color: #22c55e;
}

.orange {
    border-left-color: #f59e0b;
}

.red {
    border-left-color: #ef4444;
}